body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}

body.default {
  background: linear-gradient(135deg, #96c6f0, #00f2ff);
  background-size: cover;
  transition: background 0.5s ease-in-out;
}

.app {
  text-align: center;
  background: rgba(0, 0, 0, 0.5);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 400px;
}

input {
  padding: 10px;
  margin: 25px;
  border: double;
  border-radius: 5px;
  width: 80%;
  max-width: 300px;
}

.weather {
  font-size: 15px;
  margin-top: 20px;
}

.error {
  color: #ff6161;
  font-weight: bold;
  font-size: 1rem;
}
@keyframes movingBackground {
  0% { background-position: 0 0; }
  100% { background-position: 100% 100%; }
}

body.sunny {
  background: url('/public/images/blue-sky.webp') no-repeat center center fixed;
  background-size: cover;
  animation: movingBackground 15s linear infinite;
}

body.cloudy {
  background: url('/public/images/clouds.webp') no-repeat center center fixed;
  background-size: cover;
  animation: movingBackground 20s linear infinite;
}

body.rainy {
  background: url('/public/images/rainy-sky.webp') no-repeat center center fixed;
  background-size: cover;
  animation: movingBackground 30s linear infinite;
}

body.snowy {
  background: url('/public/images/snow-storm.webp') no-repeat center center fixed;
  background-size: cover;
  animation: movingBackground 25s linear infinite;
}

body.default {
  background: linear-gradient(135deg, #96c6f0, #00f2ff);
  background-size: cover;
  transition: background 0.5s ease-in-out;
}
